@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');

.delAndPayMainComponent{
    background-color: #FFCD24;
}

.delivery-option-text{
    font-weight: 30px;
}

.delivery-range-card{
    width: 43%; 
    display: inline-flex;
    margin-right: 10px; 
    margin-bottom: 10px; 
    font-size: small;
    border-radius: 10px;
}

.delivery-range-card:hover{
    width: 43%; 
    display: inline-flex;
    margin-right: 10px; 
    margin-bottom: 10px; 
    font-size: small;
    border-radius: 10px;
    background-color: #1052AD;
    cursor: pointer;
    color: white;
    transform: scale(1.03);
    border: 2px solid white;
}

.selected-delivery-range-card{
    width: 43%; 
    display: inline-flex;
    margin-right: 10px; 
    margin-bottom: 10px; 
    font-size: small;
    border-radius: 10px;
    background-color: #FF3B30;
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

.delivery-price-element{
    border-top-left-radius: 65%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 20%;
    margin-top: 15px;
    color: white;
    font-size: medium;
}

.delivery-price-element:hover{
    border-top-left-radius: 65%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 20%;
    margin-top: 15px;
    color: white;
    font-size: medium;
    transform: scale(1.1);
}

.image-box{
    margin-left: 5px;
    width: 20%;
    height: 100px;
    margin-right: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 3px;
}

.image-box:hover{
    transform: scale(1.15);
    border: 1px solid #1052AD;
}

.product-box{
    width: 38%;
    height: 100px;
    margin-right: 4px;
    border-radius: 3px;
}

.price-box{
    width: 34%;
    height: 100px;
    border-radius: 3px;
}

.price-box:hover{
    transform: scale(1.15);
    border: 1px solid orangered;
}

.item-container{
    background-color: white; 
    padding-top: 10px; 
    border-radius: 3px;
    margin-bottom: 10px;
}

.order-summary{
    background-color: white; 
    width: auto; 
    height: 400px; 
    padding-top: 10px; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

.line-total-box{
    width: auto; 
    height: 100px; 
    background-color: white;
    border: 2px solid red; 
    border-radius: 5px; 
    margin-bottom: 10px;
}

.service-total-box{
    width: auto; 
    height: 100px; 
    background-color: white;
    border: 2px solid red; 
    border-radius: 5px;  
    margin-bottom: 10px;
}

.order-total-box{
    width: auto; 
    height: 100px; 
    background-color: white;
    border: 2px solid red; 
    border-radius: 5px; 
    margin-bottom: 25px;
}

.align-payment-button{
    margin-left: 275px;
}

@media screen and (max-width: 480px) and (min-width:0px){
    .align-payment-button{
        margin-left: 80px;
        margin-bottom: 20px;
    }
}