<div class="container-fluid address">
    <br>
    <div class="row" style="margin-left: auto; margin-right: auto;">
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="container">
                    <h6>
                        Are you buying on behalf of a busnisess
                    </h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="busnisess" id="B2C" value="busnisessNo"
                            (click)="getRecommendedAddress()" checked>
                        <label class="form-check-label" for="busnisessNo"><b>No</b></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="busnisess" id="B2B" value="busnisessYes"
                            (click)="getRecommendedAddress()">
                        <label class="form-check-label" for="busnisessYes"><b>Yes</b></label>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="isRecommendationPresent" class="row">
                <div class="container recommendedAddress scroll" style="width: 900px;">
                    <h6>Recommended Shipping Addresses</h6>
                    <div class="row row-cols-1 row-cols-md-3 col-xs-12" style="padding-top: 5px;">
                        <div *ngFor="let element of shippingAddressModel" class="col mb-4 col-xs-12 ">
                            <div class="card border-dark shadow-lg" style="width: 17rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{element.addressTitle}}</h5>
                                    <p class="card-text">{{element.emailId}} {{element.countryCode}} {{element.phoneNumber}}</p>
                                    <p class="card-text">{{element.line1}} {{element.line2}} {{element.companyName}}, {{element.city}},
                                        {{element.state}}, {{element.pincode}}
                                        {{element.country}}</p>
                                </div>
                                <button class="btn btn-primary btn-sm" (click)="updateShippingForm(element.line1, element.line2, element.phoneNumber, element.countryCode,
                                element.country, element.city, element.state, element.pincode, element.addressTitle, element.companyName)">Select this address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container addressFormOuterBlock" style="background-color: white;">
                    <h6>New Shipping address</h6>
                    <p><i>choose one of the address from recommended or fill up the form to add your address</i></p>
                    <form (ngSubmit)="sendShippingAddress(shippingAddressDetails)" #shippingAddressDetails="ngForm">
                        <div class="container shadow-lg addressFormInnerBlock">
                            <div class="row">
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="firstName"><b>Email</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="email" id="email" class="form-control" [(ngModel)]="emailId" ngModel name="email" [readOnly]= "true"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4 addressFormElements">
                                            <div class="form-group">
                                                <label for="countryCode"><i><b>Country Code</b></i><span
                                                        style="color:red"> &nbsp;*</span></label>
                                                <select [(ngModel)]="shippingAdressCountryCodePopulator" class="form-control" id="countryCode" ngModel
                                                    name="countryCode">
                                                    <option>{{shippingAdressCountryCodePopulator}}</option>
                                                    <option *ngFor="let element of countryList" (click)="updateCountryCodeDisplayBox(element.name, element.callingCodes[0], true)">{{element.name}}, +{{element.callingCodes[0]}}</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8 addressFormElements">
                                            <div class="form-group">
                                                <label for="phoneNumber"><b>Contact Number</b><span
                                                        style="color:red"> &nbsp;*</span></label>
                                                <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="shippingAddressForm.phoneNumber" ngModel
                                                    name="phoneNumber" maxlength="13" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="isBusnisessUser; then shippingWithCompanyTemplate else shippingWithoutCompanyTemplate">
                                </div>
                                <ng-template #shippingWithCompanyTemplate>
                                    <div class="col-md-8 addressFormElements">
                                        <div class="form-group">
                                            <label for="addressLine1"><b>Address Line 1</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="addressLine1" class="form-control" [(ngModel)]="shippingAddressForm.line1" ngModel
                                                name="addressLine1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 addressFormElements">
                                        <div class="form-group">
                                            <label for="company"><b>Company Name</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="company" class="form-control" [(ngModel)]="shippingAddressForm.companyName" ngModel
                                                name="company" required>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #shippingWithoutCompanyTemplate>
                                    <div class="col-md-12 addressFormElements">
                                        <div class="form-group">
                                            <label for="addressLine1"><b>Address Line 1</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="addressLine1" class="form-control" [(ngModel)]="shippingAddressForm.line1" ngModel
                                                name="addressLine1" required>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="row">
                                <div class="col-md-8 addressFormElements">
                                    <div class="form-group">
                                        <label for="addressLine2"><b>Address Line 2</b></label>
                                        <input type="text" id="addressLine2" class="form-control" [(ngModel)]="shippingAddressForm.line2" ngModel
                                            name="addressLine2">
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="pinCode"><b>Pin Code</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="pinCode" class="form-control" ngModel name="pinCode" [(ngModel)]="shippingAddressForm.pincode"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 15px;">
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="city"><b>City</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="city" class="form-control" [(ngModel)]="shippingAddressForm.city" ngModel name="city" required>
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="state"><b>State / Province</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="state" class="form-control" ngModel name="state" [(ngModel)]="shippingAddressForm.state"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="addressTitle"><b>Save this Shipping address as</b><span
                                                style="color:red"> &nbsp;*</span></label>
                                        <input type="text" id="addressTitle" class="form-control" [(ngModel)]="shippingAddressForm.addressTitle" ngModel
                                            name="addressTitle" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <h5 *ngIf="isShippingNotificationReceived" class="{{addressNotificationBackground}}" 
                                style="text-align: center; border-radius: 4px; padding-bottom: 3px;">
                                    {{addressNotificationMessage}}
                                </h5>
                            </div>
                            <div class="col-md-2 col-xs-2" style="padding-bottom: 10px;">
                                <button class="btn btn-success" type="submit" [disabled]="!shippingAddressDetails.valid">
                                    <span style="text-align: right;">Submit</span>
                                </button> 
                            </div>
                        </div>      
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container">
                    <input type="checkbox" id="billAndShipDiff" (change)="billingAndShippingDifferent()">
                    <label for="billAndShipDiff"><i><b> &nbsp; Billing and shipping different</b></i></label>
                </div>
            </div>
            <br>
            <div *ngIf="isBillingAndShippingDifferent" class="row">
                <div *ngIf="isRecommendationPresent" class="container recommendedAddress scroll" style="width: 900px;">
                    <h6>Recommended Billing Addresses</h6>
                    <div class="row row-cols-1 row-cols-md-3 col-xs-12" style="padding-top: 5px;">
                        <div *ngFor="let element of billingAddressModel" class="col mb-4 col-xs-12 ">
                            <div class="card border-dark shadow-lg" style="width: 17rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{element.addressTitle}}</h5>
                                    <p class="card-text">{{element.emailId}} {{element.countryCode}} {{element.phoneNumber}}</p>
                                    <p class="card-text">{{element.line1}} {{element.line2}} {{element.companyName}}, {{element.city}},
                                        {{element.state}}, {{element.pincode}}
                                        {{element.country}}</p>
                                </div>
                                <button class="btn btn-primary btn-sm" (click)="updateBillingForm(element.line1, element.line2, element.phoneNumber, element.countryCode,
                                element.country, element.city, element.state, element.pincode, element.addressTitle, element.companyName)">Select this address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="isBillingAndShippingDifferent" class="row">
                <div class="container addressFormOuterBlock" style="background-color: white;">
                    <h6>New Billing address</h6>
                    <p><i>choose one of the address from recommended or fill up the form to add your address</i></p>
                    <form (ngSubmit)="sendBillingAddress(billingAddressDetails)" #billingAddressDetails="ngForm">
                        <div class="container shadow-lg addressFormInnerBlock">
                            <div class="row">
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="firstName"><b>Email</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="email" id="email" class="form-control" [(ngModel)]="emailId" ngModel name="email" [readOnly]= "true"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4 addressFormElements">
                                            <div class="form-group">
                                                <label for="countryCode"><b>Country Code</b><span
                                                        style="color:red"> &nbsp;*</span></label>
                                                <select [(ngModel)]="billingAdressCountryCodePopulator" class="form-control" id="countryCode" ngModel
                                                    name="countryCode">
                                                    <option>{{billingAdressCountryCodePopulator}}</option> 
                                                    <option *ngFor="let element of countryList" (click)="updateCountryCodeDisplayBox(element.name, element.callingCodes[0], true)">{{element.name}}, +{{element.callingCodes[0]}}</option>  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8 addressFormElements">
                                            <div class="form-group">
                                                <label for="phoneNumber"><b>Contact Number</b><span
                                                        style="color:red"> &nbsp;*</span></label>
                                                <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="billingAddressForm.phoneNumber" ngModel
                                                    name="phoneNumber" maxlength="13" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="isBusnisessUser; then billingWithCompanyTemplate else billingWithoutCompanyTemplate">
                                </div>
                                <ng-template #billingWithCompanyTemplate>
                                    <div class="col-md-8 addressFormElements">
                                        <div class="form-group">
                                            <label for="addressLine1"><b>Address Line 1</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="addressLine1" class="form-control" [(ngModel)]="billingAddressForm.line1" ngModel
                                                name="addressLine1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 addressFormElements">
                                        <div class="form-group">
                                            <label for="company"><b>Company Name</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="company" class="form-control" [(ngModel)]="billingAddressForm.companyName" ngModel
                                                name="company" required>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #billingWithoutCompanyTemplate>
                                    <div class="col-md-12 addressFormElements">
                                        <div class="form-group">
                                            <label for="addressLine1"><b>Address Line 1</b><span style="color:red">
                                                    &nbsp;*</span></label>
                                            <input type="text" id="addressLine1" class="form-control" [(ngModel)]="billingAddressForm.line1" ngModel
                                                name="addressLine1" required>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="row">
                                <div class="col-md-8 addressFormElements">
                                    <div class="form-group">
                                        <label for="addressLine2"><b>Address Line 2</b></label>
                                        <input type="text" id="addressLine2" class="form-control" [(ngModel)]="billingAddressForm.line2" ngModel
                                            name="addressLine2">
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="pinCode"><b>Pin Code</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="pinCode" class="form-control" [(ngModel)]="billingAddressForm.pincode" ngModel name="pinCode"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 15px;">
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="city"><b>City</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="city" class="form-control" [(ngModel)]="billingAddressForm.city" ngModel name="city" required>
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="state"><b>State / Province</b><span style="color:red">
                                                &nbsp;*</span></label>
                                        <input type="text" id="state" class="form-control" [(ngModel)]="billingAddressForm.state" ngModel name="state"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-4 addressFormElements">
                                    <div class="form-group">
                                        <label for="addressTitle"><b>Save this Billing address as</b><span
                                                style="color:red"> &nbsp;*</span></label>
                                        <input type="text" id="addressTitle" class="form-control" ngModel
                                            name="addressTitle" [(ngModel)]="billingAddressForm.addressTitle" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <h5 *ngIf="isBillingNotificationReceived" class="{{addressNotificationBackground}}" 
                                style="text-align: center; border-radius: 4px; padding-bottom: 3px;">
                                    {{addressNotificationMessage}}
                                </h5>
                            </div>
                            <div class="col-md-2 col-xs-2" style="padding-bottom: 10px;">
                                <button class="btn btn-success" type="submit" [disabled]="!billingAddressDetails.valid">
                                    <span style="text-align: right;">Submit</span>
                                </button> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="container">
                <h6 style="text-align: center;">Cart items</h6>
            </div>
            <div *ngFor="let element of basketDetails.products" class="container item-container">
                <div class="row">
                    <div class="image-box shadow-lg">
                        <img src="{{element.productUrl}}" style="width: 100%; height: 100%; " alt="product image" srcset="">
                    </div>
                    <div class="product-box shadow-lg">
                        <p><b>{{element.productName}}</b></p>
                        <p>Quantity : {{element.quantity}}</p>
                    </div>
                    <div class="price-box shadow-lg">
                        <div *ngIf="isOfferPricePresent(element.priceValues.offerPrice, element.priceValues.basePrice);then withOfferPrice else onlyBasePrice" >
                        </div>
                        <p style="text-align: right; font-size: small; border-bottom: 1px solid black;" > 
                            <span class="bg-danger" style="border-radius: 3px; color: white;"> 
                            X {{element.quantity}}</span> 
                        </p>
                        <p style="text-align: right; font-size: small;"><b>&#x20b9; {{element.priceValues.lineTotal}}</b></p>
                    </div>
                        <ng-template  #withOfferPrice>
                            <p style="font-size: small; border-radius: 5px; color: white;" class="bg-secondary">&#x20b9; {{element.priceValues.offerPrice}}
                               &nbsp; <s>&#x20b9; {{element.priceValues.basePrice}}</s>
                            </p>  
                        </ng-template>
                        <ng-template class="price-box shadow-lg" #onlyBasePrice>
                            <p style="font-size: small; border-radius: 5px; color: white; text-align: right;" >
                                <span class="bg-secondary" style="font-size: small; border-radius: 5px; color: white; text-align: right;">
                                    &#x20b9; {{element.priceValues.basePrice}}
                                </span>
                            </p>
                        </ng-template>
                    
                    <ul *ngFor="let serviceElement of element.productServices" class="list-group shadow-lg" style="margin-bottom: 6px; padding-left: 7px;">
                        <li *ngIf="serviceElement.isServiceSelected" class="list-group-item">
                            <div class="container"
                                style="width: 25px; height: 25px; display: inline; background-color: white;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#1052AD"
                                    class="w-5 h-5" width="20px" height="20px">
                                    <path fill-rule="evenodd"
                                        d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75 3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                        clip-rule="evenodd" />
                                </svg>
                                <p class="service-price-box" style="display: inline;"> {{serviceElement.serviceName}} </p>
                                <span >
                                    <div *ngIf="isOfferPricePresent(serviceElement.priceValues.offerPrice, element.priceValues.basePrice);then withServiceEntryOfferPrice else onlyServiceEntryBasePrice" class="service-price-box">
                                    </div>   
                                </span>
                            </div>
                            <ng-template  #withServiceEntryOfferPrice>
                                &nbsp; &nbsp; &#x20b9; {{serviceElement.priceValues.offerPrice}} &nbsp; <s> &#x20b9; {{serviceElement.priceValues.basePrice}}</s>
                            </ng-template>
                            <ng-template class="price-box shadow-lg" #onlyServiceEntryBasePrice>
                                &nbsp; &nbsp; &#x20b9; {{serviceElement.priceValues.basePrice}} &nbsp;
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                <h6 style="text-align: center;">Cost Summary</h6>
            </div>
            <div class="container order-summary">
                <div class="container shadow-lg line-total-box">
                    <div class="row">
                        <div class="container" style="width: 50%; background-color: white;">
                            <h3 style="font-weight: bolder; padding-top: 20px;">Subtotal : </h3>
                        </div>
                        <div class="container" style="width: 40%; background-color: white;">
                            <div *ngIf="isOfferPricePresent(basketDetails.basketCostSummary.lineSubTotalWithDiscount, basketDetails.basketCostSummary.lineSubTotalWithOutDiscount);then withOfferPrice else onlyBasePrice" class="service-price-box">
                            </div>   
                        </div>
                        <ng-template  #withOfferPrice>
                            <h4 style="text-align: right; padding-top: 15px"><b>&#x20b9; {{basketDetails.basketCostSummary.lineSubTotalWithDiscount}}</b></h4>
                            <p style="text-align: right;"><s>&#x20b9; {{basketDetails.basketCostSummary.lineSubTotalWithOutDiscount}}</s></p>
                        </ng-template>
                        <ng-template class="price-box shadow-lg" #onlyBasePrice>
                            <h4 style="text-align: right; padding-top: 15px"><b>&#x20b9; {{basketDetails.basketCostSummary.lineSubTotalWithOutDiscount}}</b></h4>
                        </ng-template>
                    </div>

                </div>
                <div class="container shadow-lg service-total-box">
                    <div class="row">
                        <div class="container" style="width: 50%; background-color: white;">
                            <h3 style="font-weight: bolder; padding-top: 20px;">Service Cost: </h3>
                        </div>
                        <div class="container" style="width: 40%; background-color: white;">
                            <div *ngIf="isOfferPricePresent(basketDetails.basketCostSummary.serviceSubTotalWithDiscount, basketDetails.basketCostSummary.serviceSubTotalWithOutDiscount);then withServiceOfferPrice else onlyServiceBasePrice" class="service-price-box">
                            </div>   
                        </div>
                        <ng-template  #withServiceOfferPrice>
                            <h4 style="text-align: right; padding-top: 15px"><b>&#x20b9; {{basketDetails.basketCostSummary.serviceSubTotalWithDiscount}}</b></h4>
                            <p style="text-align: right;"><s>&#x20b9; {{basketDetails.basketCostSummary.serviceSubTotalWithOutDiscount}}</s></p>
                        </ng-template>
                        <ng-template class="price-box shadow-lg" #onlyServiceBasePrice>
                            <h4 style="text-align: right; padding-top: 15px"><b> &#x20b9; {{basketDetails.basketCostSummary.serviceSubTotalWithOutDiscount}}</b></h4>
                        </ng-template>
                    </div>
                </div>
                <div class="container shadow-lg order-total-box">
                    <div class="row">
                        <div class="container" style="width: 50%; background-color: white;">
                            <h3 style="font-weight: bolder; padding-top: 20px;">Total : </h3>
                        </div>
                        <div class="container" style="width: 40%; background-color: white;">
                            <div *ngIf="isOfferPricePresent(basketDetails.basketCostSummary.orderTotalWithDiscount, basketDetails.basketCostSummary.orderTotalWithOutDiscount);then withTotalOfferPrice else onlyTotalBasePrice" class="service-price-box">
                            </div>   
                        </div>
                        <ng-template  #withTotalOfferPrice>
                            <h4 style="text-align: right; padding-top: 15px"><b>&#x20b9; {{basketDetails.basketCostSummary.orderTotalWithDiscount}}</b></h4>
                            <p style="text-align: right;"><s>&#x20b9; {{basketDetails.basketCostSummary.orderTotalWithOutDiscount}}</s></p>
                        </ng-template>
                        <ng-template class="price-box shadow-lg" #onlyTotalBasePrice>
                            <h4 style="text-align: right; padding-top: 15px"><b> &#x20b9; {{basketDetails.basketCostSummary.orderTotalWithOutDiscount}}</b></h4>
                        </ng-template>
                    </div>
                </div>
                <div>
                    <h3 style="text-align: right; color: #D22D19;"> Savings : &#x20b9; {{basketDetails.basketCostSummary.cartSavings}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #1052AD; border-top: #1FDF64 5px solid;">
    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-4">
            <button class="btn btn-success btn-lg" style="background-color: #1FDF64; color: black;" (click)="navigateToBasketPage()">To Basket</button>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <button class="btn btn-success btn-lg" style="background-color: #1FDF64; color: black;">Proceed to
                Delivery</button>
        </div>
    </div>
</div>