<body>
    <div *ngIf=errorPresent class="container-fluid" style="background-color: silver;">
        <p style="color: red;"><i><b>{{errorMessage}}</b></i></p>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6 col-xs-12" style="padding-top: 15px;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-secondary" [disabled]="!welcomePageContent[0].isGuestEnabled" (click)="guestUser()">&nbsp; &nbsp; Continue as Guest &nbsp; &nbsp;</button>
                    <button class="btn btn-danger" [disabled]="!welcomePageContent[0].isLoginEnabled" (click)="loggedInUser()">&nbsp; &nbsp; Log In  &nbsp;  &nbsp;</button>
                    <button class="btn btn-dark" [disabled]="!welcomePageContent[0].isCreateAccountEnabled" (click)="createUser()"> &nbsp; &nbsp; Sign Up &nbsp; &nbsp;</button>
                </div>
                <div *ngIf=isUserTypeGuest() class="guestUserDetails">
                    <br>
                    <form (ngSubmit)="sendRequestForGuest(guestUserDetails)" #guestUserDetails="ngForm">
                        <div class="form-group">
                            <label for="GuestUserName">Your Name *</label>
                            <input type="text" id="GuestUserName" class="form-control" ngModel name="guestUserName"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="GuestUserEmail">Email Id *</label>
                            <input type="email" id="GuestUserEmail" class="form-control" ngModel name="guestUserEmail"
                                required>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!guestUserDetails.valid">let's go</button>
                    </form>
                </div>
                <div *ngIf=isUserTypeRegistered() class="RegisteredUser">
                    <br>
                    <form (ngSubmit)="sendRequestForRegistered(RegisteredUserDetails)" #RegisteredUserDetails="ngForm">
                        <div class="form-group">
                            <label for="GuestUserEmail">Email Id *</label>
                            <input type="email" id="GuestUserEmail" class="form-control" ngModel name="registeredUserEmail"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="GuestUserPassword">Password *</label>
                            <input type="password" id="GuestUserPassword" class="form-control" ngModel
                                name="registeredUserPassword" required>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!RegisteredUserDetails.valid">let's dive in</button>
                    </form>
                </div>
                <div *ngIf=isUserTypeAccountCreation() class="RegisterUserCreation">
                    <br>
                    <form (ngSubmit)="sendRequestForRegisteredUserCreation(userRegistrationDetails)"
                        #userRegistrationDetails="ngForm">
                        <div class="form-group">
                            <label for="GuestUserName">Your Lovely Name *</label>
                            <input type="text" id="GuestUserName" class="form-control" ngModel name="registeredUserName"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="GuestUserEmail">Email Id *</label>
                            <input type="email" id="GuestUserEmail" class="form-control" ngModel name="registeredUserEmail"
                                required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="GuestUserPassword">Password *</label>
                            <input type="password" id="GuestUserPassword" class="form-control" ngModel
                                name="registeredUserPassword" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="GuestUserPassword">Confirm Password *</label>
                            <input type="password" id="GuestUserPasswordConfirmation" class="form-control" ngModel
                                name="registeredUserPasswordConfirmation" required>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!userRegistrationDetails.valid">let's get registered</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="content_for_Why_Us_title">
                    <h1><span>Why Us ?</span></h1>
                </div>
                <div class="container welcome-container scroll">    
                    <ul class="list-group">
                        <li *ngFor="let element of welcomePageContent[0].contentForWhyUS" class="list-group-item" style="border: none;"> 
                            <div class="container welcome-container-element-text">
                                <p style="color: white">{{element.content}}</p>
                            </div>
                            
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl" style="padding-top: 15px;">
        <h1 style="text-align: center;">Our Premium Products</h1>
    </div>
    <div class="container-xl shadow-lg premimum-product">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="shadow-lg premimum-product-image">
                    <img src="{{welcomePageContent[0].premiumProducts[premiumProductIndex].imageUrl}}" 
                    style="width: 100%; height: 100%;" alt="product image">
                    <!-- <img src="..." 
                    style="width: 100%; height: 100%;" alt="product image"> -->
                </div>
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="shadow-lg premimum-product-content">
                    <h1>&nbsp; {{welcomePageContent[0].premiumProducts[premiumProductIndex].productName}}</h1>
                    <br>
                    <h3>&nbsp; &nbsp;{{welcomePageContent[0].premiumProducts[premiumProductIndex].productModelId}}</h3>
                    <br>
                    <p style="padding-left: 15px; text-align: justify; padding-right: 15px;">{{welcomePageContent[0].premiumProducts[premiumProductIndex].description}}</p>
                    <br>
                    <div class="row">
                        <div class="col-md-7">
                            
                        </div>
                        <div class="col-md-5">
                            <div *ngIf="isOfferPricePresent(welcomePageContent[0].premiumProducts[premiumProductIndex].priceValues.offerPrice, 
                            welcomePageContent[0].premiumProducts[premiumProductIndex].priceValues.basePrice) ;then withOfferPrice else onlyBasePrice">
                            </div>
                            <ng-template  #withOfferPrice>
                                <div class="container shadow-lg premium-product-price-box bg-danger">
                                    <h4 style="text-align: right; color: white;">For you : &#x20b9; {{welcomePageContent[0].premiumProducts[premiumProductIndex].priceValues.offerPrice}}</h4>
                                    <h6 style="text-align: right; color: white;">Our price : &#x20b9; {{welcomePageContent[0].premiumProducts[premiumProductIndex].priceValues.basePrice}}</h6>
                                </div> 
                            </ng-template>
                            <ng-template #onlyBasePrice>
                                <div class="container shadow-lg premium-product-price-box bg-danger">
                                    <h4 style="text-align: right; color: white;">Our price : &#x20b9; {{welcomePageContent[0].premiumProducts[premiumProductIndex].priceValues.basePrice}}</h4>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3 style="text-align: center;"><u>Our Range of products</u></h3>
                <div class="card-deck">
                    <div *ngFor="let categoryElement of welcomePageContent[0].productCategoryAvailable" class="card product-range-card shadow-lg">
                        <div class="card-body">
                            <h6 class="card-title"><b>{{categoryElement.categoryName}}</b></h6>
                            <p class="card-text products_Number">{{categoryElement.productModelCount}}</p>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-6 col-xs-6">
                <h1 class="product_sold">14</h1>
                <h4 class="product_sold_content">products sold so far</h4>
                <br>
                <br>
                <h1 style="text-align: center;"><i>REACH US AT</i></h1>
                <h4 style="text-align: center;">{{welcomePageContent[0].contactDetails.email}}</h4>
                <h4 style="text-align: center;">{{welcomePageContent[0].contactDetails.phoneNumber}}</h4>
                <p style="text-align: center;">{{welcomePageContent[0].contactDetails.Address1}}</p>
            </div>
        </div>
    </div>
</body>