<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Ecom</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="container api-docs-box">
          <p><a href="http://api-nightfury-ecom.s3-website.ap-south-1.amazonaws.com/" target="_blank" style="color: black;">Api-docs</a></p>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="container shadow company-title">
          <h3>Simple Com</h3>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        
      </div>
    </div>
  </div>
  
  
</body>
<router-outlet style="background-color:  #FFCD24;"></router-outlet>
</html>